{% extends 'main.twig' %}

{% block styles %}
{% endblock %}

{% block body %}
    <header>
        <h1>FAQApp's list of categories</h1>
    </header>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                {% if action is defined %}
                    <form class="form-horizontal form-container"
                            {% if action == 'edit' %}
                                action="{{ staticCall('Router', 'route', ['categories.update', {'id' : id }]) }}"
                            {% else %}
                                action="{{ staticCall('Router', 'route', ['categories.store']) }}"
                            {% endif %}
                          method="POST">
                        <div class="form-group">
                            <h3 class="text-center">{% if action == 'edit' %}Update{% else %}Add new{% endif %}
                                category</h3>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Title:</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="name" id="name" placeholder="Title"
                                       value="{% if editItem['name'] is defined %}{{ editItem['name'] }}{% endif %}"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-4">
                                {% if action == 'edit' %}
                                    <input type="hidden" name='_method' value="PUT">
                                    <input type="hidden" name="id" value="{{ editItem['id'] }}">
                                    <input class="btn btn-success btn-block" type="submit" name="save" value="Save">
                                {% else %}
                                    <input class="btn btn-success btn-block" type="submit" name="add" value="Add">
                                {% endif %}
                            </div>
                        </div>
                    </form>
                {% endif %}
            </div>
            <div class="col-sm-10 col-sm-offset-1">
                {% for error in errors %}
                    <div id="alert" class="alert {{ error.getType() }} text-center">{{ error.getMessage() }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
            <table class="table table-condensed">
                <tr>
                    <th rowspan="2">№</th>
                    <th rowspan="2">Title</th>
                    <th colspan="5">Questions count</th>
                    <th rowspan="2">Created</th>
                    <th rowspan="2">Updated</th>
                    <th rowspan="2">Control</th>
                </tr>
                <tr>
                    <th>Total</th>
                    <th>Published</th>
                    <th>Waiting</th>
                    <th>Hidden</th>
                    <th>Blocked</th>
                </tr>
                {% for item in items %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>
                            <a href="{{ staticCall('Router', 'route', ['quest_by_category', {'category' : item['id'] }]) }}">
                                <span>{{ item['name'] }}</td>
                        </span>
                        <td>
                            <span>{{ item['all_questions'] }}</span>
                        </td>
                        <td>
                            <span>{{ item['published_questions'] }}</span>
                        </td>
                        <td>
                            <span>{{ item['wait_answer_questions'] }}</span>
                        </td>
                        <td>
                            <span>{{ item['hidden_questions'] }}</span>
                        </td>
                        <td>
                            <span>{{ item['blocked_questions'] }}</span>
                        </td>
                        <td>{{ item['created_at'] }}</td>
                        <td>{{ item['updated_at'] }}</td>
                        <td>
                            <div class="row">
                                <div class="col-sm-6">
                                    <a class="btn btn-default btn-block"
                                       href="{{ staticCall('Router', 'route', ['categories.edit', {'id' : item['id']}]) }}">Update</a>
                                </div>
                                <div class="col-sm-6">
                                    <form class="d-inline-block"
                                          action="{{ staticCall('Router', 'route', ['categories.destroy', {'id' : item['id']}]) }}"
                                          method="POST">
                                        <input type="hidden" name='_method' value="DELETE">
                                        <input class="btn btn-danger btn-block" type="submit" name="delete"
                                               value="Delete"
                                               data-toggle="tooltip"
                                               title="When you delete a category, all questions from it will also be deleted">
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
                </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-sm-offset-5 form-group">
                <a class="btn btn-default btn-block" href="{{ staticCall('Router', 'route', ['categories.create']) }}">Add
                    category</a>
            </div>
        </div>
    </div>

{% endblock %}